.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background-color: black;
  color: white;
}

.aw {
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  font-family: "Lobster", cursive;
  font-size: 50px;
}

.header-nav {
  /* display: none; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0px;
}

.nav {
  background-color: black;
  color: white;
}

.empty,
.name,
.mobile-hide {
  display: none;
  cursor: default;
}
.nav-item {
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.active {
  color: coral;
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: start;
  }
  .alex {
    font-size: 55px;
  }

  .aw {
    margin-left: 20px;
    justify-content: flex-start;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header-nav {
    margin-right: 20px;
    list-style-type: none;
  }

  .nav-item {
    margin-right: 20px;
  }

  .hover:hover {
    cursor: pointer;
    color: coral;
    /* font-size: larger; */
  }

  .empty {
    display: block;
    flex: 1;
    color: black;
  }

  .name,
  .mobile-hide {
    display: block;
  }

  .desktop-hide {
    display: none;
  }
}
