<div class="footer">
  <nav>
    <ul class="mobile-footer-nav" id="nav-container">
      <li
        (click)="onClick(1)"
        [ngClass]="{ active: navItem === 'navItem1' }"
        routerLink="/home"
      >
        Home
      </li>
      <li
        (click)="onClick(2)"
        [ngClass]="{ active: navItem === 'navItem2' }"
        routerLink="/about"
      >
        About
      </li>
      <li
        (click)="onClick(3)"
        [ngClass]="{ active: navItem === 'navItem3' }"
        routerLink="/projects"
      >
        Projects
      </li>
      <li
        (click)="onClick(4)"
        [ngClass]="{ active: navItem === 'navItem4' }"
        routerLink="/contact"
      >
        Contact
      </li>
    </ul>
    <div class="contact">
      <ul class="contact-items">
        <li class="space">+1 (248) 790-8803</li>
        <li class="space">alexaaron.weber@gmail.com</li>
        <li>
          <a class="link" href="https://www.linkedin.com/in/alex-a-weber/"
            >LinkedIn</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
