<div class="footer">
  <nav>
    <ul class="mobile-footer-nav">
      <li>Home</li>
      <li>About</li>
      <li>Photos</li>
      <li>Projects</li>
      <li>Contact</li>
    </ul>
    <!-- <div class="contact">
      <ul class="contact-items">
        <li class="space">+1 (248) 790-8803</li>
        <li class="space">alexaaron.weber@gmail.com</li>
        <li>
          <a class="link" href="https://www.linkedin.com/in/alex-a-weber/"
            >LinkedIn</a
          >
        </li>
      </ul>
    </div> -->
  </nav>
</div>
