<div class="about">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem perferendis
    sunt repudiandae a dolorem possimus nam rerum animi magni quia, suscipit
    harum ipsam mollitia odit ea quo culpa fuga blanditiis.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis voluptate
    enim iusto, atque sed nostrum provident modi laborum voluptatum placeat
    maiores quas numquam magnam ipsum. Vero sit autem beatae quis.
  </p>
  <h1><a class="highlight" routerLink="/pics">My Photos</a></h1>

  <h1>
    <a class="highlight" href="../assets/Alex Weber Resumé.pdf" target="_blank"
      >My Resumé</a
    >
  </h1>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
    dignissimos quam asperiores veritatis quas dolores magnam molestias
    repellat, amet, vero, odit consequatur unde quo quaerat eum! Cumque harum
    non optio.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloribus
    eos autem et, quod quisquam neque obcaecati nostrum blanditiis molestias
    aliquid dolore eum molestiae? Dolorum ut dolores doloremque in alias?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem atque ex porro
    laborum, natus nam quidem non incidunt, ut neque exercitationem fuga sunt,
    cupiditate perferendis reiciendis unde asperiores obcaecati. Recusandae?
  </p>
</div>
