<!-- <app-header></app-header> -->
<a class="highlight" routerLink="/about">Back</a>
<main>
  <div>
    <h1>Here are some photo collections!</h1>
  </div>
  <div>
    <h2>My hair Journey</h2>
    <p>Description</p>
    <img src="" alt="Hair" />
  </div>
  <div>
    <h2>China</h2>
    <p>Description</p>
    <img src="" alt="China" />
  </div>
  <div>
    <h2>Millenium Falcon</h2>
    <p>Description</p>
    <img src="" alt="Falcon" />
  </div>

  <div>
    <h2>Snow Mobiling</h2>
    <p>Description</p>
    <img src="" alt="UP" />
  </div>
</main>
<!-- <app-footer></app-footer> -->
