<!-- <app-header></app-header> -->
<main class="main">
  <div class="page-container">
    <h1 class="h1">Projects</h1>
    <!-- scrum -->
    <div class="project">
      <h2>
        <a class="scrums" href="https://scrumspets.surge.sh/"
          >Scrum's Magical Pet Shop</a
        >
      </h2>
      <p class="scrums text">
        Scrum's Magical Pet Shop is an online merchant where you can find and
        adopt magical creatures from Scrum, the "Fancy Goblin!" Check out our
        crazy creatures, (there's a surprise if you're a Star Wars fan)! This
        project is practice with javascript creating events and event listeners,
        as well as calculations based on a point of sale system.
      </p>
      <a href="https://scrumspets.surge.sh/">Click here to visit!</a>
    </div>
    <!-- cinema api -->
    <div class="project">
      <h2>
        <a class="cinema" href="https://jawacinema.surge.sh/mainpage">Cínema</a>
      </h2>
      <p class="cinema text">
        The project here is using a Web API and practice using Angular to build
        an app with services and component based architecture.
      </p>
      <a href="https://jawacinema.surge.sh/mainpage">Click here to visit!</a>
    </div>
    <!-- wellbeing -->
    <div class="project">
      <h2>
        <a class="wellbeing" href="https://wellbeing.surge.sh/home"
          >WellBeing</a
        >
      </h2>
      <p class="wellbeing text">
        This project is more practice using multiple APIs and loading videos
        onto the page, as well as a bit more practice with styling and component
        building.
      </p>
      <a href="https://wellbeing.surge.sh/home">Click here to visit!</a>
    </div>

    <!-- end page -->
    <div class="space"></div>
  </div>
</main>
<div class="space"></div>
<!-- <app-footer></app-footer> -->
