<h1>
  This site is still in the making. In the mean time, here is some place holder
  text!
</h1>
<h2>
  Feel Free to Check out the
  <span routerLink="/projects">Projects</span> Portfolio!
</h2>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis numquam laborum
dolorem commodi! Animi commodi repudiandae accusamus! Nostrum ex dignissimos
dolores molestiae, aperiam sequi id optio laboriosam facilis accusamus
excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis,
veniam neque voluptatum asperiores nemo commodi accusamus labore expedita velit
reprehenderit doloremque, laudantium id aspernatur cupiditate obcaecati omnis
repellendus illum. Earum! Lorem ipsum dolor sit amet consectetur adipisicing
elit. Voluptatibus explicabo fuga dolorum rerum corrupti dignissimos similique
deserunt magnam, perferendis nihil amet sunt nam. Odio inventore amet deleniti
doloremque deserunt fuga.
